<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.quiz.lesson03.dao.RealEstateDAO"> <!-- DAO와 연결!!! -->
	<select id="selectRealEstateById" parameterType="int" resultType="com.quiz.lesson03.model.RealEstate">
		SELECT
			`id`
			, `realtorId`
			, `address`
			, `area`
			, `type`
			, `price`
			, `rentPrice`
			, `createdAt`
			, `updatedAt`
		FROM
			`real_estate`
		WHERE
			`id` = #{id} <!-- id를 동적으로 넘김 -->
	</select>
	
	<select id="selectRealEstateListByRentPrice" parameterType="int" resultType="com.quiz.lesson03.model.RealEstate">
		SELECT
			`id`
			, `realtorId`
			, `address`
			, `area`
			, `type`
			, `price`
			, `rentPrice`
			, `createdAt`
			, `updatedAt`
		FROM
			`real_estate`
		WHERE
		<![CDATA[
			`rentPrice` < #{rentPrice}
		]]>
			<!-- xml 구간에서 부등호를 쓰면 태그가 열린걸로 인식?함 -->
	</select>
	
 	<select id="selectRealEstateListByAreaAndPrice" parameterType="map" resultType="com.quiz.lesson03.model.RealEstate">
		SELECT
			`id`
			, `realtorId`
			, `address`
			, `area`
			, `type`
			, `price`
			, `rentPrice`
			, `createdAt`
			, `updatedAt`
		FROM
			`real_estate`
		WHERE
		<![CDATA[
			`type` = '매매'
			AND `area` >= #{area}
			AND `price` <= #{price}
		]]>
	</select>
	
	<!-- resultType 은 결과값을 출력하는게 아니라면 안써도 된다. -->
	<insert id="insertRealEstate" parameterType="com.quiz.lesson03.model.RealEstate">
		INSERT INTO `real_estate`
		(
			<!-- id는 auto-increment로 들어가므로 안써도 됨 -->
			`realtorId`
			, `address`
			, `area`
			, `type`
			, `price`
			, `rentPrice`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{realtorId}
			, #{address}
			, #{area}
			, #{type}
			, #{price}
			, #{rentPrice} <!-- 알아서 null 값으로 채워진다 -->
			, NOW()
			, NOW()
		)
	</insert>
	
	<insert id="insertRealEstateAsField" parameterType="map">
	<!-- Param 어노테이션이 있으면 parameterType => 무조건 map -->
		INSERT INTO `real_estate`
		(
			`realtorId`
			, `address`
			, `area`
			, `type`
			, `price`
			, `rentPrice`
			, `createdAt`
			, `updatedAt`
		)
		VALUES
		(
			#{realtorId}
			, #{address}
			, #{area}
			, #{type}
			, #{price}
			, #{rentPrice}
			, NOW()
			, NOW()
		)
	</insert>
	
	<update id="updateRealEstateById" parameterType="map">
	<!-- update하고 나면 끝 결과 값을 불러오지 않는다 => resultType(x) -->
		UPDATE `real_estate`
		SET
			`type` = #{type}
			, `price` = #{price}
			, `updatedAt` = NOW()
			<!-- 이렇게 끝내버리면 모든행이 다 변경되므로 WHERE절 필수!!! -->
		WHERE
			`id` = #{id}
	</update>
	
	<delete id="deleteRealEstateById" parameterType="int">
	<!-- 파라미터가 하나 일 경우 생략 가능 하지만 쓸 것!!! -->
		DELETE
		FROM
			`real_estate`
		WHERE
			`id` = #{id}
	</delete>
</mapper>