<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.quiz.lesson02.dao.StoreDAO">
	<select id="selectStoreList"
		resultType="com.quiz.lesson02.model.Store"> <!-- 하나의 행이 클레스에 있다 -->
		SELECT
			`id`,
			`name`,
			`phoneNumber`,
			`address`,
			`businessNumber`,
			`introduce`,
			`createdAt`,
			`updatedAt`         <!-- 모든 필드를 다 넣어준다!!! -->
		FROM
			`store`
	</select>
</mapper>